<h1>Editar Película</h1>
<%= form_for @pelicula do |f| %>
  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :cliente_id, 'Cliente' %>
    <%= f.collection_select :cliente_id, @clientes, :id, :nombre, prompt: true %>
  </div>
  <%= f.submit 'Guardar' %>
<% end %>
<%= link_to 'Volver a la lista de películas', peliculas_path %>
